# Joshua Rotuna
## Assignment: CA06

In [230]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import NearestNeighbors

### Reading in Dataset

In [225]:
# Reading in Dataset and examining first few rows
df = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')
df

    Movie ID                        Movie Name  ...  History  Label
0         58                The Imitation Game  ...        0      0
1          8                        Ex Machina  ...        0      0
2         46                  A Beautiful Mind  ...        0      0
3         62                 Good Will Hunting  ...        0      0
4         97                      Forrest Gump  ...        0      0
5         98                                21  ...        1      0
6         31                            Gifted  ...        0      0
7          3               Travelling Salesman  ...        0      0
8         51                            Avatar  ...        0      0
9         47                    The Karate Kid  ...        0      0
10        50            A Brilliant Young Mind  ...        0      0
11        49                    A Time To Kill  ...        0      0
12        30                      Interstellar  ...        0      0
13        94           The Wolf of Wall Street  ...        0      0
14         6                     Black Panther  ...        0      0
15        73                         Inception  ...        0      0
16        44                    The Wind Rises  ...        0      0
17        65                     Spirited Away  ...        0      0
18        48                 Finding Forrester  ...        0      0
19        27                      The Fountain  ...        0      0
20        57                  The DaVinci Code  ...        0      0
21        57                 Stand and Deliver  ...        0      0
22        14                    The Terminator  ...        0      0
23        69                    21 Jump Street  ...        0      0
24        98                      The Avengers  ...        0      0
25        17                    Thor: Ragnarok  ...        0      0
26        12  Spirit: Stallion of the Cimarron  ...        0      0
27         1                     Hacksaw Ridge  ...        1      0
28        86                  12 Years a Slave  ...        1      0
29        46                    Queen of Katwe  ...        0      0

[30 rows x 11 columns]

In [226]:
# Dataset Shape and Info
print(df.shape)
print()
print(df.info())

(30, 11)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB
None

### Creating Feature Matrices

In [228]:
  # Defining Features Matrix:
features_matrix = df.iloc[:,2:-1]
  
  # Creating Test Matrix for Prediction:
test_matrix = [7.2, 1,1,0,0,0,0,1]
test_matrix = np.reshape(test_matrix, (-1, 1)).T
test_matrix

array([[7.2, 1. , 1. , 0. , 0. , 0. , 0. , 1. ]])

## Building KNN Model

In [240]:
# Importing KNN from Scikit-learn
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=5, algorithm='brute')  # Using Brute force method because it is a very small dataset
knn.fit(features_matrix, df['Movie Name'])
pred_values = knn.predict(test_matrix)


# Nearest neighbor:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(n_neighbors=5)     # n_neighbors adjusts the amount of "recommendations" it will make
knn.fit(features_matrix)        # Fit the model with all necessary features
neighbors = knn.kneighbors([[7.2, 1,1,0,0,0,0,1]])    # Creading prediction from hypothetical movie's feature list
neighbors = neighbors[1]    #GRabbing only the array with column indexes

#Looping through list of indexes and returning the Movie Name:
for x in neighbors:
  y = df.iloc[x,1]
  movie_rec_df = pd.DataFrame(y)
  print("5 Movies you may like as well:")
  print(movie_rec_df)

5 Movies you may like as well:
          Movie Name
28  12 Years a Slave
27     Hacksaw Ridge
29    Queen of Katwe
16    The Wind Rises
2   A Beautiful Mind